<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{"Create Recipe" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="resultText.length > 0" style="background-color: lightsteelblue" class="has-header">
  <ion-card>
    <ion-card-header style="background-color:bisque">{{"Basic Recipe Details" | translate}}</ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label floating>{{"Recipe Name" | translate}}</ion-label>
          <ion-input [(ngModel)]="createRecipie.RecipeName" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>{{"Recipe Short Description" | translate}}</ion-label>
          <ion-input [(ngModel)]="createRecipie.RecipeDescription" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>{{"Time To Cook" | translate}}</ion-label>
          <ion-select [(ngModel)]="createRecipie.Time" cancelText="Cancel" okText="Okay!">
            <ion-option *ngFor="let item of LookUp[0].Time" value={{item._id}}>
              <span *ngIf="currentLanguage == 'ar'">{{item.CookingTimeAr}}</span>
              <span *ngIf="currentLanguage == 'en'">{{item.CookingTimeEn}}</span>
            </ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>{{"Calories" | translate}}</ion-label>
          <ion-select [(ngModel)]="createRecipie.Calories" cancelText="Cancel" okText="Okay!">
            <ion-option *ngFor="let item of LookUp[0].Calories" value={{item._id}}>
              <span *ngIf="currentLanguage == 'ar'">{{item.CaloriesNameAr}}</span>
              <span *ngIf="currentLanguage == 'en'">{{item.CaloriesNameEn}}</span>
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header style="background-color:bisque">{{"Video" | translate}}
      <ion-icon class="circleadddd" name="add-circle" (click)="presentVideoActionSheet()"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <ion-scroll scrollX="true" style="white-space: nowrap;height: 150px" >
        <ion-label *ngIf="createRecipie.Videos.length==0">{{"No Videos" | translate}} </ion-label>
        <ion-row>
          <ion-col *ngFor="let item of createRecipie.Videos" width-50 height-50>
            <video width="150px" height="150px"  controls>
              <source src={{item.URL}} type="{{item.Type}}">
            </video>
          </ion-col>
        </ion-row>
      </ion-scroll>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header style="background-color:bisque">{{"Photos" | translate}}
      <ion-icon class="circleadddd" name="add-circle" (click)="presentActionSheet()"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <ion-scroll scrollX="true" style="white-space: nowrap;">
        <ion-label *ngIf="createRecipie.Images.length==0">{{"No Photos" | translate}} </ion-label>
        <ion-row>
          <ion-col *ngFor="let item of createRecipie.Images" width-50 height-50>
            <img src={{item.URL}} imageViewer />
          </ion-col>
        </ion-row>
      </ion-scroll>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header style="background-color:bisque">{{"Ingredients Details" | translate}}
      <ion-icon class="circleadddd" name="add-circle" (click)="AddIngredents()"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-label *ngIf="Ingredents.length==0">{{"No Ingredents" | translate}}</ion-label>
        <ion-grid *ngFor="let item of Ingredents;let i = index; ">
          <ion-row>
            <ion-col width-90>
              <ion-item>
                <ion-label floating>{{"Ingredient" | translate}} - {{i +1 }}</ion-label>
                <ion-input [(ngModel)]="item.ingredent" type="text"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col width-9>
              <ion-icon style="margin-top: 95%" ios="ios-close-circle" (click)="closeIngredent(i)" md="md-close-circle" item-left></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header style="background-color:bisque">{{"Directions" | translate}}
      <ion-icon class="circleadddd" name="add-circle" (click)="AddMoreSteps()"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-label *ngIf="Directions.length==0">{{"No Directions" | translate}}</ion-label>
        <ion-grid *ngFor="let item of Directions;let i = index; ">
          <ion-row>
            <ion-col width-90>
              <ion-item>
                <ion-label floating>{{"Step" | translate}} - {{i +1 }}</ion-label>
                <ion-textarea [(ngModel)]="item.direction" type="text"></ion-textarea>
              </ion-item>
            </ion-col>
            <ion-col width-9>
              <ion-icon style="margin-top: 95%" ios="ios-close-circle" (click)="closeSteps(i)" md="md-close-circle" item-left></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header style="background-color:bisque">
      <span>{{"Recipe Tags" | translate}}</span>
    </ion-card-header>
    <ion-card-content>
      <p style="margin: 5%">{{"Recipie Text" | translate}}</p>
      <ion-list>
        <ion-item>
          <ion-label>{{"Categories" | translate}}</ion-label>
          <ion-select [(ngModel)]="createRecipie.Category" cancelText="Cancel" okText="Okay!">
            <ion-option *ngFor="let item of LookUp[0].CategoryTag" value={{item._id}}>
              <span *ngIf="currentLanguage == 'ar'">{{item.CategoryNameAr}}</span>
              <span *ngIf="currentLanguage == 'en'">{{item.CategoryNameEn}}</span>
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-label>{{"Cooking type" | translate}}</ion-label>
          <ion-select [(ngModel)]="createRecipie.CookingType" cancelText="Cancel" okText="Okay!">
            <ion-option *ngFor="let item of LookUp[0].CookingTypeTag" value={{item._id}}>
              <span *ngIf="currentLanguage == 'ar'">{{item.CookingTypeNameAr}}</span>
              <span *ngIf="currentLanguage == 'en'">{{item.CookingTypeNameEn}}</span>
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item>
          <ion-label>{{"Cusine" | translate}}</ion-label>
          <ion-select [(ngModel)]="createRecipie.Cusine" cancelText="Cancel" okText="Okay!">
            <ion-option *ngFor="let item of LookUp[0].CusineTag" value={{item._id}}>
              <span *ngIf="currentLanguage == 'ar'">{{item.CusineNameAr}}</span>
              <span *ngIf="currentLanguage == 'en'">{{item.CusineNameEn}}</span>
            </ion-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <button (click)='SaveRecipieDetails()' ion-button full>{{"Yummy" | translate}}</button>
    </ion-card-content>
  </ion-card>
</ion-content>