<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title style="display: block;margin-top:4%;width: 60%;float: left;">{{"Profile" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="userId.length > 0">
  <ion-card>
    <div style="background:url('assets/Profile/pback.jpg');color: gold;font-family:Times New Roman"><br />
      <img class="item-profile"  src="{{s3BaseURL+userId+'.jpeg'}}" onerror="this.src='assets/Profile/cheff.png'">
      <div style="text-align: center">{{profileInfo.Name}}</div>
      <div style="text-align: center">{{profileInfo.JobDescription}} 
        <i *ngIf="!IsViewOtherProfile" (click)="EditProfile($event)" style="color: mistyrose;font-size: 21px;" class="fa fa-pencil-square-o" aria-hidden="true"></i>
      </div>
      <br/>
      <ion-grid>
        <ion-row>
          <ion-col width-33 class="borderTop borderRight">
            <div>Recipie</div>
            <div>{{profileInfo.UserRecipies}}</div>
           </ion-col>
          <ion-col width-33 class="borderTop borderRight">
            <div>Followers</div>
            <div>{{profileInfo.Followers}}</div>  
           </ion-col>          
          <ion-col width-33 class="borderTop">
            <div>Following</div>
            <div>{{profileInfo.Following}}</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-card-header *ngIf="!IsViewOtherProfile">
      <span style="display: block;width: 20%;float: left">Private</span>
      <ion-toggle [(ngModel)]="profileInfo.ISPrivate" style="float: right"></ion-toggle>
    </ion-card-header>
    <ion-card-header *ngIf="IsViewOtherProfile">
      <span style="display: block;width: 20%;float: left">Follow</span>
      <button ion-button style="float: right">Follow</button>
    </ion-card-header>
    <ion-card-header style="background-color: #e3e6ea">
      Contact-ME
    </ion-card-header>
    <ion-list>
      <ion-item>
        <ion-icon name="mail" item-left></ion-icon>
          {{profileInfo.Email}}
      </ion-item>
      <ion-item>      
        <ion-icon name="contact" item-left></ion-icon>
        {{profileInfo.PhoneNumber}}
      </ion-item>
    </ion-list>   
    
    <ion-card-header style="background-color: #e3e6ea">
      <span>My Recipie List</span>
      <span style="float: right"><button (click)="MyRecipiesList($event, 'item')" ion-button>My Recipies</button></span>
    </ion-card-header>
  </ion-card>
</ion-content>
