<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="PageTitle == 'Create Profile'">{{"Create Profile" | translate}}</ion-title>
		<ion-title  *ngIf="PageTitle == 'Edit Profile'">{{"Edit Profile" | translate}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color: lightgrey">
	<p style="margin: 4%">{{"Create Profile Tag" | translate}}</p>
	<ion-card>
    <ion-card-header style="background-color:bisque">User Information</ion-card-header>
		<ion-card-content>
			<ion-list>
				<ion-item>
					<ion-label floating>{{"Name" | translate}}</ion-label>
					<ion-input [(ngModel)]="createProfile.FirstName" type="text"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label floating>{{"Occupation" | translate}}</ion-label>
					<ion-input [(ngModel)]="createProfile.JobDescription" type="text"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label floating>{{"Email" | translate}}</ion-label>
					<ion-input [(ngModel)]="createProfile.Email" type="text"></ion-input>
				</ion-item>
				<ion-item>
					<ion-label floating>{{"Mobile" | translate}}</ion-label>
					<ion-input [(ngModel)]="createProfile.PhoneNumber" type="text"></ion-input>
				</ion-item>
				<ion-item *ngIf="PageTitle != 'EditProfile'">
					<ion-label floating>Password</ion-label>
					<ion-input [(ngModel)]="createProfile.Password" type="text"></ion-input>
				</ion-item>
				<ion-item *ngIf="PageTitle != 'EditProfile'">
					<ion-label floating>Confirm Password</ion-label>
					<ion-input [(ngModel)]="createProfile.ConfirmPassword" type="text"></ion-input>
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>

	<ion-card>
    <ion-card-header style="background-color:bisque">Language Preference</ion-card-header>
		<ion-card-content>
			<ion-list>
				<ion-item>
          <ion-label>Language</ion-label>
          <ion-select [(ngModel)]="createProfile.Language" cancelText="Cancel" okText="Okay!">
            <ion-option  *ngFor="let item of Languages" value={{item.LanguageId}}>{{item.LanguageName}}</ion-option>
          </ion-select>
        </ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>	
	<ion-card>
		<ion-card-content>
      <button (click)='SaveProfile()' ion-button full>Save</button>
    </ion-card-content>
   </ion-card>
</ion-content>
